<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>Servlets.Listener</listener-class>
  </listener>

  <servlet>
    <servlet-name>HomePage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>RegisterPage</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>ForgetPasswordPage</servlet-name>
    <jsp-file>/forgetPassword.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>Servlets.UserServlet</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>Servlets.ForgetPasswordServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegisterPage</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ForgetPasswordPage</servlet-name>
    <url-pattern>/forget-password</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/api/users</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/api/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/api/register</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/api/forget-password</url-pattern>
  </servlet-mapping>

</web-app>
