<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>Servlets.Listener</listener-class>
  </listener>

  <servlet>
    <servlet-name>HomePage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>ForgetPasswordPage</servlet-name>
    <jsp-file>/forgetPassword.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>ResetPasswordPage</servlet-name>
    <jsp-file>/resetPassword.jsp</jsp-file>
  </servlet>


  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>Servlets.ForgetPasswordServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ShowQuizServlet</servlet-name>
    <servlet-class>Servlets.ShowQuizServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CreateQuizServlet</servlet-name>
    <servlet-class>Servlets.CreateQuizServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>QuizServlet</servlet-name>
    <servlet-class>Servlets.QuizServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>Servlets.ProfileServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ForgetPasswordPage</servlet-name>
    <url-pattern>/forget-password</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ResetPasswordPage</servlet-name>
    <url-pattern>/reset-password</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/api/forget-password</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/api/reset-password</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowQuizServlet</servlet-name>
    <url-pattern>/quiz/show</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CreateQuizServlet</servlet-name>
    <url-pattern>/quiz/create</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>QuizServlet</servlet-name>
    <url-pattern>/quiz</url-pattern>
  </servlet-mapping>



</web-app>
